<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IProxy"  maxReceivedMessageSize="2147483647" >
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="2147483647" />
      </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8091/ProxyCache" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IProxy" contract="ServiceReference1.IProxy"
        name="WSHttpBinding_IProxy">
        <identity>
          <userPrincipalName value="PC-DE-ARNAUD\33671" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
